<%
	var appList = { 
		starmap:	{display:'Map', glyph:'glyphicon-map-marker', default:true}, 
		hanger:		{display:'Hanger', glyph:'glyphicon-plane'}, 
		trade:		{display:'Trade', glyph:'glyphicon-sort'}, 
		intel: 		{display:'Intel', glyph:'glyphicon-eye-open'}, 
		comms: 		{display:'Comms', glyph:'glyphicon-comment'} 
	};
%>


<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="panel panel-primary game-ui resize-container" id="appContainer">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="game-ui">
						<div class="row">
							<div class="col-md-1">&nbsp;&nbsp;&nbsp;<span class="badge alert-info"><span class="glyphicon glyphicon-align-justify"></span></span></div>
							<div class="col-md-1">
								<span class="badge alert-info">
									<span class="glyphicon glyphicon-user"></span> 
									<span id="usernameSlot"></span> 
								</span>
							</div>
							<div class="col-md-1"><span class="badge alert-info"><span class="glyphicon glyphicon-envelope"></span> 7 </span></div>
							<div class="col-md-1"><span class="badge alert-info"><span class="glyphicon glyphicon-usd"></span> 100000 </span></div>
							<div class="col-md-1"></div>
							<div class="col-md-1"><span class="badge alert-info"><span class="glyphicon glyphicon-cog"></span> 4000 </span></div>	
							<div class="col-md-1"><span class="badge alert-info"><span class="glyphicon glyphicon-tint"></span> 2000 </span></div>
							<div class="col-md-1"><span class="badge alert-info"><span class="glyphicon glyphicon-tree-conifer"></span> 2000 </span></div>

							<div class="col-md-4"></div>
						</div>
					</a>
				</h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-8">
							<div class="btn-group">
								<% for (var app in appList) { %>
									<a class="btn btn-primary" href="#" onclick="renderApp('<%= app %>')" id="link_<%= app %>">
										<span class="glyphicon <%= appList[app].glyph %>"></span> <%= appList[app].display %>
									</a>
								<% } %>
								<a class="btn btn-primary" href="#" onclick="logoutUser()" id="link_logout">
									<span class="glyphicon glyphicon-log-out"></span> Logout
								</a>
							</div>
							<br>
						</div>
						<div class="col-md-3"></div>
					</div>

					<div id="gameAppScreen"></div>

				</div>
			</div>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>

<script>
	var el = document.getElementById("star-map-canvas");
	//var leftEdge = el.parentNode.clientWidth - el.width;
	//var topEdge = el.parentNode.clientHeight - el.height;
	var leftEdge = 1000- el.width;
	var topEdge = 500 - el.height;

	//function dragObject(element, attachElement, lowerBound, upperBound, dampening, 
	//					startCallback, moveCallback, endCallback, attachLater)
	var dragObj = new dragObject(el, null, new Position(leftEdge, topEdge), new Position(0, 0), 1);
</script>

<script>
	var config = <%- JSON.stringify(config) %>;
	var map = <%- JSON.stringify(map) %>;

	var starmapEJS = new EJS({url: '/views/starmap.ejs'});

	var currentApp = null;

	var renderApp = function(app) {
		if (currentApp == app) {
			return;
		}
		else if (currentApp != null) {
			shutdownApp(currentApp);
		}
		currentApp = app;

		//alert('renderApp app=' + app);
		//Update Button state
		<% for (var app in appList) { %>
			$('#link_<%= app %>').removeClass("active");
		<% } %>
		$('#link_' + app).addClass( "active");

		var appContainer = document.getElementById("appContainer");
		var appWidth = appContainer.clientWidth;
		var appHeight = window.innerHeight * 0.7;

		if (app == 'starmap') {
			$('#gameAppScreen').empty();
			var html = starmapEJS.render({config:config, map:map, appWidth:appWidth, appHeight:appHeight});
			$('#gameAppScreen').html( html );

			//window.addEventListener('resize', resizeAllElements, false);
			//resizeAllElements();
		}
		else {
			$('#gameAppScreen').empty();
		}
	}

	$(document).ready(function() {
		<% 
			for (var app in appList) { 
				if (appList[app].default) {
		%>
					renderApp('<%= app %>');
		<% 
					break;
				}
			} 
		%>

		$('#usernameSlot').html( getUsername() );
	});
</script>

<div id="hiddenAssets" style="display: none;">
	<img id="Sun" src="/game/starmap/Sun.png"/>
	<img src="/game/starmap/Mercury.png"/>
	<img src="/game/starmap/Venus.png"/>
	<img src="/game/starmap/Earth.png"/>
	<img src="/game/starmap/Mars.png"/>
	<img src="/game/starmap/Jupiter.png"/>
	<img src="/game/starmap/Saturn.png"/>
	<img src="/game/starmap/Uranus.png"/>
	<img src="/game/starmap/Neptune.png"/>
	<img src="/game/starmap/Pluto.png"/>

	<img id="starscape" src="/game/starmap/starscape03.jpg"/>
</div>