<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description %>">
    <meta name="author" content="<%= author %>">

    <!-- styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
	
	<link rel="stylesheet" href="/css/layout.css" type="text/css" media="all">
	<link rel="stylesheet" href="/css/mediaqueries.css" type="text/css" media="all">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">
  </head>

	<body>
		<div class="wrapper row1">
			<header id="header" class="clear">
				<div id="hgroup">
				  <h1><a href="#"><%- title %></a></h1>
				</div>
			  </header>
			</div>
			<!-- ################################################################################################ -->
			<div class="wrapper row2">
			  <nav id="topnav">
				<ul class="clear">
				  <li class="active first"><a href="/admin">Home</a></li>
				  <li><a href="/admin/users/userlist">Users</a></li>
				  <li><a class="drop" href="#">Drop 1</a>
					<ul>
					  <li><a href="#">Level 2</a></li>
					  <li><a href="#">Level 2</a></li>
					  <li><a class="drop" href="#">Level 2 + Drop</a>
						<ul>
						  <li><a href="#">Level 3</a></li>
						  <li><a class="drop" href="#">Level 3 + Drop</a>
							<ul>
							  <li><a href="#">Level 4</a></li>
							  <li><a href="#">Level 4</a></li>
							</ul>
						  </li>
						  <li><a href="#">Level 3</a></li>
						</ul>
					  </li>
					</ul>
				  </li>
				</ul>
			  </nav>
			</div>

	<table width="100%">
		<tr>
			<td  width="10%"></td>
			<td style="background-color: white; padding: 15px;"><%- body %></td>
			<td  width="10%"></td>
		</tr>
	</table
   
    <!-- Some JavaScript, placed at the end of the document so the pages load faster -->

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>

	<script src="/js/jquery-mobilemenu.min.js"></script>

    <!-- Need mroe Bootstrap features? Uncomment some lines below. -->
	<script src="/js/bootstrap.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>-->

    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
         chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7 ]>
      <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
      <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
  </body>
</html>